<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logbook</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Logbook</h1>
    <a href="/exercises/new">Log a new exercise</a>
        <ul>
            <% exercises.forEach((exercise) => { %>
             <li>
                <%= exercise.exercise %> 
                <% if (exercise.weight) { %>
                    @ <%= exercise.weight %>kg.
                <% } %> 
                <%= exercise.reps %> reps for 
                <% if (exercise.sets === 1) { %>
                    <%= exercise.sets %> set.
                <% } else { %>
                <%= exercise.sets %> sets. 
                <% } %>
                <% if (exercise.notes) { %>
                    Notes: <%= exercise.notes %>
                <% } %>
                <a href="/exercises/<%= exercise._id %>/edit">Edit or Delete entry</a>
             </li>
            <% }) %>
        </ul>
</body>
</html>